.cartcontainer{
    display: flex;
    flex-wrap: nowrap;
    gap: 40px;
    justify-content: center;
   
    text-align: center;
}
.product_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 30px;
    background-color: rgb(68, 124, 137);
}
.product_tittle{
    width: 20vw;
}
.item_quantity{
    border: 2px solid black;
    width: 17vw;
    font-size:x-large;
    border-radius: 14px;
    padding: 3px;
    background-color: rgb(202, 212, 212);
}
.cart_image{
    width: 20vw;
    height: 30vh;
}
.cntr_btn{
font-size: x-large;
padding-top: 3px;
padding-left: 10px;
padding-right:10px ;
}
/* .cart{
    width: 60%;
    background-color: rgb(228, 211, 211);
} */
#counter{
    padding-left: 10px;
    padding-right:10px ;
    background-color: honeydew;
    color: black;
}
.cart-products{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 20px;
  
    /* border: 2px solid rgb(10, 10, 10); */
}
#orderMobile_view{
    display:none;
}
#order{
    /* display: block; */
    width:300px;
    height: 10vh;
}
.totalprice-container{
    width: 30%;
    height: 40vh;
    font-size: x-large;
}
#tprice{
    background-color: black;
    color: white;
}
@media screen and (min-width:300px) and (max-width:850px){
    .cartcontainer{
        gap:10px ;
        flex-direction: column;
        width: 100vw;
        justify-content: center;
    }
    .cart_image{
        width: 70vw;
    }
    .cart{
        width: 95vw;
    }
    .rm_btn{
        width: 250px;
    }
    .card{
        flex-direction:column;
        justify-content: center;
        align-items: center;
    }
    .product_tittle{
        width: 85vw;
    }
    .item_quantity{
        width: 270px;
    }
    .totalprice-container{
        width: 95vw;
        margin-bottom: 10px;
    }
    #order{
         display: none;
        margin-top: 20px;
        width: 90vw;
    }
    #orderMobile_view{
        display: block;
        margin-top: 20px;
        width: 90vw;
    }
}