.linkprnt{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
/* background-color: rgb(105, 209, 209); */
}
#logoutbtn{
    display: none;
}
#logoutbtn2{
    display: none;
}
.close{
    color: black;
    float: left;
}
#tittle{
    display:none;
}
.active{
    color:orange;
} 
.nav2{
    width: 95vw;
    display: flex;
    flex-wrap: nowrap;

    justify-content: space-around;
    gap: 10px;
}
#navbar{
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 10px;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    align-items: center;
    border: 1px solid rgb(221, 221, 219);
    border-bottom: 5px solid rgb(213, 214, 212);
    background-color: rgb(6, 58, 67);
    padding: 5px;
}
.search{
    /* width: 10vw; */
    text-align: center;
    height: 5vh;
    border: none;
}
.searchicon{
    /* margin-top: 1px; */
   position: relative;
   top: 10px;
    width: 30px; 
}
.searchbar{
    align-items: center;
/* background-color: white; */
}
.dashboard{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    /* background-color: beige; */
}
#shopify{
    /* float: left; */
    border-radius: 10px;
    padding-left:3px;
    padding-right:3px ;
    width: 10vw;
    height: 6vh;
background-color: rgb(242, 242, 241);

}
a{
    text-decoration: none;
    font: 30px bolder;
    color: rgb(245, 241, 243);
}
.menu{
    display: none;
}
#menu_list{
    display: none;
}
ul{
    list-style-type: none;
}
li{
    list-style-type: none;
}
.componentLink{
    width: 50vw;
    text-align: center;
    /* border: 3px solid rgb(184, 178, 178); */
    display: flex;
    gap: 10px;
    justify-content:space-around;
}
#menu_button{
    display: none;
}
/* .....DROP DOWN...... */
ul li{
    list-style: none;
    text-align: left;
}
ul.dropdown{
    width: 6%;
    text-align: left;
    position: absolute;
    z-index: 999;
    display: none;
    animation: anim  2s  linear 1;
}
.dropdownlink{
    font-size: small;
}
   li:hover ul.dropdown {
    background-color: yellow;
    background: rgb(27, 29, 27);
    display: block;
    
    /* width: 100%; */
}
ul.dropdown:hover ul.dropdown{
display: block;
}
@keyframes anim{
    0%{
        display: block;
    }
    25%{
        display: block;
      
    }
100%{
    
    display: block;
}
}
/*Trending Product*/
.card2{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: #c2daf1; */
    /* width: 95vw; */
    border: 3px solid rgb(179, 176, 176);
    margin-left: 10px;
    margin-right: 10px;
   
}
.product--image{
    width: 10vw;
    height: 20vh;
}

/* Dynamic single product */
.singleproduct{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap: 10vw;
    /* margin: 100px; */
    /* margin-top: 10px; */
}
.p_image{
    border: 2px solid rgb(206, 203, 203);
    padding: 10px;
    box-shadow: 5px 5px 10px  rgb(168, 168, 170);
    height:min-content;
   
}
.p_image2{
width: 25vw;
height: 60vh;
}
.highlights{
    width: 500px;
    line-height:30px;
}
.addtocartbtn{
    width: 12vw;
font-size: larger;
}
/* ...............HOME PAGE.......... */

.images{
    width: 15vw;
    height: 30vh;
}
.images2{
    width: 18vw;
    height: 30vh;
}
.firstbox{
    height: 40vh;
    background-color: darkgray;
}
.bigbillionday{
    width: 95vw;
    height: 60vh;
}
.services{
    margin-top: 30px;
    
    display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
    /* border: 1px solid rgb(170, 169, 169); */
    /* box-shadow: 3px 5px  0px grey; */
    width: 95vw;
}
.s-box{
    width: 30vw;
    text-align: center;
    background-color: rgb(244, 247, 247);
}
/* .......generic page.... */
.gen{
    min-height: 300px;
    width: 20vw;
    border: 2px solid rgb(194, 187, 187);
    padding: 4px;
    /* background-color: cadetblue; */
}
.main_cotainer{
    margin: 100px;
    margin-top: 0px;
    display: flex;
    gap: 10px;
    flex-wrap: nowrap;
}

.container1{
    width: 40%;
    height: 60vh;
    background-color: brown;
}
.container2{
    display: flex; 
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-around;
}
.laptop_container{
    min-height: 300px;
    width: 20vw;
    border: 2px solid rgb(194, 187, 187);
    padding: 5px;
}
.price{
    color:orangered;
}
/* ......FOOTER...... */
.footer{
    /* height: 40vh; */
display: flex;
flex-wrap: wrap;
justify-content: space-around;
margin-top: 100px;
color: white;
background-color: black;
padding-top: 10px;
}
#social_icons{
    width: 20vw;
    height: 7vh;
}
.references{
    font-size: small;
}
.refLink{
    font-size: large;
}


/* ////////////......LOGIN-SIGNUP..../////////// */
.profile{
   display: none; 
   margin-left: 86vw;
   margin-top: 60px;
  position: absolute;
    width:10%;
    z-index: 999;
    border: 1px solid black;
    background-color: rgb(21, 24, 23);
}

.prfLink{
  
    color:green;
}
.header{
    color: white;
    background-color:rgb(50, 56, 66);
    font-size: xx-large;
    /* padding: 10px; */
}
.body{
    /* min-height: 97vh; */
    background-image: linear-gradient(to right, #2c3e50, #dfe4e7);
}
.parent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.reg{
    width: 35%;
    height:382px;
    background-color: white;
    display: flex;
    /* flex-wrap: wrap; */
    gap: 5px;
    align-items: center;
}
.reg1{
    height:382px;
    width: 40%;
    background-color: rgb(39, 39, 64);
    color: white;
}
.alreadylog{
    color: rgb(21, 142, 77);
    font-weight: bolder;
    font-size: x-large;
}

.reg2{
    display: flex;
    flex-direction: column;
    width: 50vw;
    flex-wrap: wrap;
    height:382px;
    align-content: space-around;
    justify-content: space-around;
    gap: 5px;
    /* background-color: aqua; */
}
.register{
    font-size:1.5vw;
}
input{
    width: 18vw;
    border-left: none;
    border-top: none;
    border-right: none;
    font-size: larger;
}

b{
    color:blue;
}
.btn{
    font-size: larger;
    background-color: darkblue;
    width: 12vw;
    height: 5vh;
    color: white;
    border-radius: 5px;
}
.adbtn{
    width: 17vw;
}
/* ////////////......LOGIN-SIGNUP..../////////// */

@media screen and (min-width:860px) and (max-width:930px){
    .images{
        width: 20vw;
        height: 12vh;
    }
    .images2{
        width: 20vw;
        height: 12vh; 
    }
    .product--image{
        width: 20vw;
        height: 12vh;
    }
    .btn{
        width: 20vw;
    }
    .container2{
        gap: 10px;
    }
}

/*........ media queries......... */
@media screen and (min-width:300px) and (max-width:820px)
{
    .product--image{
        width: 65vw;
        height: 30vh;
    }

    /* ////registerComp/// */
    .register{
        font-size:4vw;
    }
    .reg1{width:80vw;
    height: auto;}
    .reg{
        flex-direction: column;
    }
/* Productdetails........ */
.singleproduct{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.laptop_container{
    width: 80vw;
}
.highlights{
    width: 90vw;
}
.p_image2{
    width: 80vw;
    height: 60vh;
    }
    .p_image3{
        width: 80vw;
        height: 40vh;
        }
/* GEneric comp..... */
.main_cotainer{
    flex-direction: column;
}
.gen{
    min-height: 300px;
    width: 80vw;
}
    /* ///profile//// */
    .profile{
        display: none;
    }
   .log_sign{
    border: 1px solid black;
display: none;
background-color: rgb(229, 229, 15);
   }
   #close{
    width: 10vw;
    float: left;
   }
    .reg{
        width: max-content;
        height: max-content;
    }
    input{
        width: 53vw;
    }
    .btn{
        width: max-content;
    }
    .refLink{
        font-size: large;
        color: white;
        text-decoration: none;
        border-bottom: none;
    }
    a{
        color: black;
    }
    #tittle{
        display: block; 
        display: flex;
        justify-content: space-around;
        gap: 20px;
        padding: 5px;
        /* padding-bottom: 2px; */
        /* border-bottom: 2px solid grey; */
        background-color: rgb(6, 58, 67);
    }
    #shopify{
        width: 35vw;
        height: 7vh;
    }
    #navbar{
        display: none;
        }
    #menu_button{
        display: block;
        float: right;
    }
    .menu{
        display: block;
    }
       li{
        border-bottom: 2px solid black;
    }
   
   .search{
    border: 1px solid black;
    width: 70vw;
   
   }
    /* ...home... */
    .images{
        width: 70vw;
        height: 50vh;
    }
    .images2{
        width: 70vw;
        height: 30vh;
    }
    .services{
        flex-direction: column;
        align-items: center;
    }
    .s-box{
        width:80vw;
    }
    .footer{
        flex-direction: column;
    }
}