
.parent{
    display: flex;
}
.trending-carousel {
    /* margin-bottom: 1000px; */
    text-align: center;
    h2 {
      font-size: 24px;
      margin-bottom: 20px;
    }
  }
  
  .product-item {
    padding: 15px;
    img {
      max-width: 100%;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    h3 {
      margin-top: 10px;
      font-size: 16px;
    }
  }
  
  .slick-slider {
    margin: 0 -10px;
  }
  
  .slick-dots {
    text-align: center;
    li {
      display: inline-block;
      margin: 0 4px;
      button {
        font-size: 12px;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        background: #333;
        color: #fff;
      }
    }
  }
  